.description-page {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.small-images {
    display: flex;
    flex-direction: column;
    width: 15%;
}
.small-images img{
    margin-bottom: 40px;
}

.preview {
    width: 35%;
    height: 100%;
}

.details {
    width: 35%;
}

.brand, .name {
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0;
}
.name {
    font-weight: normal;
}

.attrs, .price {
    margin: 20px 0;
}